@model IEnumerable<Laboratorio3ED1.Models.Partido>

@{
    ViewBag.Title = "Index No.partido";
}

<h2>Index No. partido</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Npartido_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo1_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo2_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {

    }
    else
     {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Npartido_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo1_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo2_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Npartido_ })
        </td>
    </tr>
        }
    }

</table>
